charset-normalizer==2.0.3
click==8.0.1
Flask==2.0.1
flask-sqlacodegen==1.1.8
Flask-SQLAlchemy==2.5.1
PyMySQL==1.0.2
pyodbc==4.0.31
requests==2.26.0
sqlacodegen==2.3.0
SQLAlchemy==1.4.21
urllib3==1.26.6
