{
  "openapi": "3.0.0",
  "info": {
    "title": "Homepage Backend API",
    "description": "A flexible content management API for handling various entry types with validation and notifications",
    "version": "1.0.0",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.chenmo1212.cn",
      "description": "Production server"
    },
    {
      "url": "http://localhost:5000",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Entries",
      "description": "Entry management endpoints"
    },
    {
      "name": "Admin",
      "description": "Administrative endpoints"
    }
  ],
  "paths": {
    "/message/entries": {
      "get": {
        "tags": ["Entries"],
        "summary": "Get entries list",
        "description": "Retrieve a paginated list of entries with optional filters",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by entry type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by source",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_show",
            "in": "query",
            "description": "Filter by visibility status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags (can be multiple)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Entry"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": ["Entries"],
        "summary": "Create new entry",
        "description": "Create a new entry with validation.\n\n`metadata` fields depend on `type`:\n- **message** (required: `name`, `email`, `content`; optional: `website`)\n- **feedback** (required: `project_name`, `content`; optional: `rating` 1-5, `category` bug/feature/improvement/question, `contact`)\n- **notification** (required: `title`, `content`; optional: `priority` high/medium/low, `target_user`)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "metadata"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["message", "feedback", "notification"],
                    "description": "required · Entry 类型，决定 metadata 的字段结构 · enum: message | feedback | notification",
                    "example": "message"
                  },
                  "metadata": {
                    "description": "required · 随 type 变化的业务字段；type=message 时展开 MessageMetadata，type=feedback 时展开 FeedbackMetadata，type=notification 时展开 NotificationMetadata",
                    "oneOf": [
                      { "$ref": "#/components/schemas/MessageMetadata" },
                      { "$ref": "#/components/schemas/FeedbackMetadata" },
                      { "$ref": "#/components/schemas/NotificationMetadata" }
                    ],
                    "discriminator": {
                      "propertyName": "type",
                      "mapping": {
                        "message": "#/components/schemas/MessageMetadata",
                        "feedback": "#/components/schemas/FeedbackMetadata",
                        "notification": "#/components/schemas/NotificationMetadata"
                      }
                    }
                  },
                  "source": {
                    "type": "string",
                    "description": "optional · 来源标识，例如 homepage、portfolio、mobile",
                    "example": "homepage"
                  },
                  "agent": {
                    "type": "string",
                    "description": "optional · 浏览器 User-Agent 字符串",
                    "example": "Mozilla/5.0 ..."
                  },
                  "tags": {
                    "type": "array",
                    "description": "optional · 标签列表",
                    "items": { "type": "string" },
                    "example": ["homepage"]
                  }
                }
              },
              "examples": {
                "message": {
                  "summary": "type=message — 用户留言",
                  "value": {
                    "type": "message",
                    "metadata": {
                      "name": "张三",
                      "email": "zhangsan@example.com",
                      "website": "https://zhangsan.dev",
                      "content": "这个项目做得很棒！"
                    },
                    "source": "homepage",
                    "tags": ["homepage"]
                  }
                },
                "feedback": {
                  "summary": "type=feedback — 项目反馈",
                  "value": {
                    "type": "feedback",
                    "metadata": {
                      "project_name": "bob-learning",
                      "rating": 5,
                      "category": "feature",
                      "content": "希望支持更多语言",
                      "contact": "user@example.com"
                    },
                    "source": "portfolio"
                  }
                },
                "notification": {
                  "summary": "type=notification — 系统通知",
                  "value": {
                    "type": "notification",
                    "metadata": {
                      "title": "系统维护通知",
                      "content": "今晚 22:00-23:00 进行例行维护",
                      "priority": "high",
                      "target_user": "admin"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entry created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "Entry created successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                },
                "example": {
                  "msg": "Entry created successfully",
                  "data": { "id": "507f1f77bcf86cd799439011" },
                  "status": 200
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/message/entries/{entry_id}": {
      "get": {
        "tags": ["Entries"],
        "summary": "Get single entry",
        "description": "Retrieve a specific entry by ID",
        "parameters": [
          {
            "name": "entry_id",
            "in": "path",
            "required": true,
            "description": "Entry ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Entry"
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "tags": ["Entries"],
        "summary": "Update entry",
        "description": "Update an existing entry. All fields are optional — only supplied fields are overwritten.",
        "parameters": [
          {
            "name": "entry_id",
            "in": "path",
            "required": true,
            "description": "Entry ID (MongoDB ObjectId string)",
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "所有字段均为 optional，仅传入的字段会被覆盖",
                "properties": {
                  "metadata": {
                    "description": "optional · 更新后的业务字段，结构与创建时相同，展开下方 oneOf 查看每种类型的完整字段",
                    "oneOf": [
                      { "$ref": "#/components/schemas/MessageMetadata" },
                      { "$ref": "#/components/schemas/FeedbackMetadata" },
                      { "$ref": "#/components/schemas/NotificationMetadata" }
                    ]
                  },
                  "source": {
                    "type": "string",
                    "description": "optional · 来源标识",
                    "example": "mobile"
                  },
                  "status": {
                    "description": "optional · 状态标志，传入任意组合的子字段",
                    "$ref": "#/components/schemas/Status"
                  },
                  "agent": {
                    "type": "string",
                    "description": "optional · 浏览器 User-Agent 字符串"
                  },
                  "tags": {
                    "type": "array",
                    "description": "optional · 标签列表",
                    "items": { "type": "string" },
                    "example": ["important", "reviewed"]
                  }
                }
              },
              "examples": {
                "update_metadata": {
                  "summary": "仅更新 metadata 内容",
                  "value": {
                    "metadata": {
                      "name": "张三（已修改）",
                      "email": "new@example.com",
                      "content": "更新后的留言内容"
                    }
                  }
                },
                "update_tags": {
                  "summary": "仅更新标签和来源",
                  "value": {
                    "source": "mobile",
                    "tags": ["important", "reviewed"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entry updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "Entry updated successfully"
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": ["Entries"],
        "summary": "Delete entry",
        "description": "Delete a specific entry",
        "parameters": [
          {
            "name": "entry_id",
            "in": "path",
            "required": true,
            "description": "Entry ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entry deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "Entry deleted successfully"
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/message/entries/batch-delete": {
      "post": {
        "tags": ["Entries"],
        "summary": "Batch delete entries",
        "description": "Permanently delete multiple entries by ID list.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id_list"],
                "properties": {
                  "id_list": {
                    "type": "array",
                    "description": "List of Entry IDs (MongoDB ObjectId strings) to delete",
                    "items": {
                      "type": "string"
                    },
                    "example": ["507f1f77bcf86cd799439011", "507f1f77bcf86cd799439012"]
                  }
                }
              },
              "example": {
                "id_list": ["507f1f77bcf86cd799439011", "507f1f77bcf86cd799439012"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entries deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "Deleted 2 entries"
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/message/admin/entries": {
      "get": {
        "tags": ["Admin"],
        "summary": "Admin get all entries",
        "description": "Retrieve all entries including hidden and deleted ones",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by entry type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by source",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdminEntry"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/message/admin/entries/{entry_id}/status": {
      "put": {
        "tags": ["Admin"],
        "summary": "Update entry status",
        "description": "Update the status flags of an entry. Pass any combination of `is_show`, `is_delete`, `is_read`.",
        "parameters": [
          {
            "name": "entry_id",
            "in": "path",
            "required": true,
            "description": "Entry ID (MongoDB ObjectId string)",
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_show": {
                    "type": "boolean",
                    "description": "Whether the entry is publicly visible"
                  },
                  "is_delete": {
                    "type": "boolean",
                    "description": "Soft-delete flag"
                  },
                  "is_read": {
                    "type": "boolean",
                    "description": "Whether the entry has been read by admin"
                  }
                }
              },
              "examples": {
                "publish": {
                  "summary": "设为公开可见",
                  "value": { "is_show": true, "is_read": true }
                },
                "soft_delete": {
                  "summary": "软删除",
                  "value": { "is_delete": true }
                },
                "mark_read": {
                  "summary": "仅标记已读",
                  "value": { "is_read": true }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "Entry status updated successfully"
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/message/admin/entries/stats": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get statistics",
        "description": "Get entry statistics with optional filters",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by entry type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Statistics data"
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/message/admin/types": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get all supported types",
        "description": "Retrieve all configured entry types",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TypeInfo"
                      }
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": ["Admin"],
        "summary": "Create new type",
        "description": "Add a new entry type configuration. `config` must include `name` and `schema` (a valid JSON Schema object with a `type` field).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "config"],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Unique type identifier (snake_case)",
                    "example": "blog_comment"
                  },
                  "config": {
                    "type": "object",
                    "description": "Type configuration. Required keys: `name` (string), `schema` (JSON Schema object with `type` field). Optional: `description`, `notification`.",
                    "properties": {
                      "name": { "type": "string" },
                      "description": { "type": "string" },
                      "schema": { "type": "object" },
                      "notification": {
                        "type": "object",
                        "properties": {
                          "enabled": { "type": "boolean" },
                          "template": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "type": "blog_comment",
                "config": {
                  "name": "博客评论",
                  "description": "来自博客文章的读者评论",
                  "schema": {
                    "type": "object",
                    "required": ["author", "content"],
                    "properties": {
                      "author":  { "type": "string", "maxLength": 50 },
                      "content": { "type": "string", "maxLength": 500 },
                      "post_id": { "type": "string" }
                    }
                  },
                  "notification": { "enabled": true, "template": "wechat_comment" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Type created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "Type blog_post created successfully"
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/message/admin/types/{type_name}/schema": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get type schema",
        "description": "Retrieve the complete schema for a specific type",
        "parameters": [
          {
            "name": "type_name",
            "in": "path",
            "required": true,
            "description": "Type name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Complete type configuration"
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/message/admin/types/{type_name}": {
      "put": {
        "tags": ["Admin"],
        "summary": "Update type configuration",
        "description": "Replace an existing type's configuration. Same `config` shape as POST /message/admin/types.",
        "parameters": [
          {
            "name": "type_name",
            "in": "path",
            "required": true,
            "description": "Type identifier, e.g. `message`, `feedback`, `notification`",
            "schema": {
              "type": "string",
              "example": "message"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["config"],
                "properties": {
                  "config": {
                    "type": "object",
                    "description": "Updated type configuration. Required keys: `name`, `schema`."
                  }
                }
              },
              "example": {
                "config": {
                  "name": "留言（已更新）",
                  "description": "来自首页的用户留言",
                  "schema": {
                    "type": "object",
                    "required": ["name", "email", "content"],
                    "properties": {
                      "name":    { "type": "string", "maxLength": 50 },
                      "email":   { "type": "string", "format": "email" },
                      "website": { "type": "string" },
                      "content": { "type": "string", "maxLength": 1000 }
                    }
                  },
                  "notification": { "enabled": true, "template": "wechat_message" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Type updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "example": "Type blog_post updated successfully"
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Entry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "507f1f77bcf86cd799439011"
          },
          "type": {
            "type": "string",
            "example": "message"
          },
          "source": {
            "type": "string",
            "example": "homepage"
          },
          "metadata": {
            "type": "object",
            "description": "Entry-specific data based on type"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "timestamps": {
            "$ref": "#/components/schemas/Timestamps"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["important", "urgent"]
          }
        }
      },
      "AdminEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Entry"
          },
          {
            "type": "object",
            "properties": {
              "agent": {
                "type": "string",
                "description": "User agent string"
              }
            }
          }
        ]
      },
      "Status": {
        "type": "object",
        "properties": {
          "is_show": {
            "type": "boolean",
            "example": true
          },
          "is_delete": {
            "type": "boolean",
            "example": false
          },
          "is_read": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "Timestamps": {
        "type": "object",
        "properties": {
          "create_time": {
            "type": "string",
            "format": "date-time"
          },
          "update_time": {
            "type": "string",
            "format": "date-time"
          },
          "admin_time": {
            "type": "string",
            "format": "date-time"
          },
          "delete_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "example": 20
          },
          "total": {
            "type": "integer",
            "example": 100
          },
          "pages": {
            "type": "integer",
            "example": 5
          }
        }
      },
      "MessageMetadata": {
        "type": "object",
        "description": "Metadata for type=message (用户留言)",
        "required": ["name", "email", "content"],
        "properties": {
          "name": {
            "type": "string",
            "description": "required · 留言人姓名 · maxLength: 50",
            "example": "张三"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "required · 留言人邮箱",
            "example": "zhangsan@example.com"
          },
          "content": {
            "type": "string",
            "description": "required · 留言内容 · maxLength: 1000",
            "example": "这个项目做得很棒！"
          },
          "website": {
            "type": "string",
            "description": "optional · 留言人个人网站 URL",
            "example": "https://zhangsan.dev"
          }
        }
      },
      "FeedbackMetadata": {
        "type": "object",
        "description": "Metadata for type=feedback (项目反馈)",
        "required": ["project_name", "content"],
        "properties": {
          "project_name": {
            "type": "string",
            "description": "required · 被反馈的项目名称 · maxLength: 100",
            "example": "bob-learning"
          },
          "content": {
            "type": "string",
            "description": "required · 反馈内容 · maxLength: 2000",
            "example": "希望支持更多语言"
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5,
            "description": "optional · 评分 · 整数 1-5",
            "example": 5
          },
          "category": {
            "type": "string",
            "enum": ["bug", "feature", "improvement", "question"],
            "description": "optional · 反馈类别 · enum: bug | feature | improvement | question",
            "example": "feature"
          },
          "contact": {
            "type": "string",
            "description": "optional · 联系方式（邮箱或其他）",
            "example": "user@example.com"
          }
        }
      },
      "NotificationMetadata": {
        "type": "object",
        "description": "Metadata for type=notification (系统通知)",
        "required": ["title", "content"],
        "properties": {
          "title": {
            "type": "string",
            "description": "required · 通知标题 · maxLength: 100",
            "example": "系统维护通知"
          },
          "content": {
            "type": "string",
            "description": "required · 通知正文",
            "example": "今晚 22:00-23:00 进行例行维护"
          },
          "priority": {
            "type": "string",
            "enum": ["high", "medium", "low"],
            "description": "optional · 优先级 · enum: high | medium | low · default: medium",
            "example": "high"
          },
          "target_user": {
            "type": "string",
            "description": "optional · 目标用户标识，不传则为全局通知",
            "example": "admin"
          }
        }
      },
      "CreateEntryRequest": {
        "type": "object",
        "required": ["type", "metadata"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["message", "feedback", "notification"],
            "description": "required · Entry 类型，决定 metadata 的字段结构 · enum: message | feedback | notification",
            "example": "message"
          },
          "metadata": {
            "description": "required · 随 type 变化的业务字段，见下方各 Metadata schema",
            "oneOf": [
              { "$ref": "#/components/schemas/MessageMetadata" },
              { "$ref": "#/components/schemas/FeedbackMetadata" },
              { "$ref": "#/components/schemas/NotificationMetadata" }
            ]
          },
          "source": {
            "type": "string",
            "description": "optional · 来源标识，例如 homepage、portfolio、mobile",
            "example": "homepage"
          },
          "agent": {
            "type": "string",
            "description": "optional · 浏览器 User-Agent 字符串",
            "example": "Mozilla/5.0 ..."
          },
          "tags": {
            "type": "array",
            "description": "optional · 标签列表",
            "items": {
              "type": "string"
            },
            "example": ["homepage"]
          }
        }
      },
      "UpdateEntryRequest": {
        "type": "object",
        "description": "所有字段均为 optional，仅传入的字段会被覆盖",
        "properties": {
          "metadata": {
            "description": "optional · 更新后的业务字段，结构与创建时相同",
            "oneOf": [
              { "$ref": "#/components/schemas/MessageMetadata" },
              { "$ref": "#/components/schemas/FeedbackMetadata" },
              { "$ref": "#/components/schemas/NotificationMetadata" }
            ]
          },
          "source": {
            "type": "string",
            "description": "optional · 来源标识",
            "example": "mobile"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "agent": {
            "type": "string",
            "description": "optional · 浏览器 User-Agent 字符串"
          },
          "tags": {
            "type": "array",
            "description": "optional · 标签列表",
            "items": {
              "type": "string"
            },
            "example": ["important", "reviewed"]
          }
        }
      },
      "TypeInfo": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "message"
          },
          "name": {
            "type": "string",
            "example": "Message"
          },
          "description": {
            "type": "string",
            "example": "User messages from homepage"
          },
          "notification_enabled": {
            "type": "boolean",
            "example": true
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Error message"
                },
                "status": {
                  "type": "integer",
                  "example": 400
                }
              }
            }
          }
        }
      }
    }
  }
}