{
  "openapi": "3.0.0",
  "info": {
    "title": "Blog API",
    "description": "A simple API for blog password verification",
    "version": "1.0.0",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.chenmo1212.cn",
      "description": "Production server"
    },
    {
      "url": "http://localhost:5000",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Blog",
      "description": "Blog password verification endpoints"
    }
  ],
  "paths": {
    "/blog/verify": {
      "post": {
        "tags": ["Blog"],
        "summary": "Verify blog post password",
        "description": "Verify password for accessing a protected blog post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["password"],
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "Password to access the blog post",
                    "example": "password"
                  }
                }
              },
              "example": {
                "password": "password"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password verification successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing or invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Missing password"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Incorrect password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Incorrect password"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Server misconfiguration or unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Server configuration error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}